<div class="mt-3">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input" >Key</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>